* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    line-height: 1.5; /* Melhora a legibilidade */
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, #00FA9A, #0000ff);
    height: 100vh;
  }

  @media (max-width: 600px) {
    body {
      overflow: hidden;
    }
  }
  

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 3%;
}

.formularioUsuarios {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    margin-top: 5px;
    border-radius: 15px;
    border: inset white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.users {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    width: 200px;
}

input {
    border-radius: 5px;
    height: 25px;
    padding: 2%;
    margin: 2%;
}

.descricao {
    margin-top: 10%;
    width: 100%;
    height: 100px;
    border-radius: 12px;
    resize: vertical;
    box-sizing: border-box;
    padding: 2%;
}

.button_adicionar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

/* Media Query para telas menores */
@media (max-width: 600px) {
    h1 {
        font-size: 1.2em; /* Tamanho da fonte menor em telas pequenas */
        margin-top: 15px;
    }

    h3 {
        font-size: 13px; /* Tamanho da fonte menor em telas pequenas */
        text-align: center;
    }

    label {
        font-size: 13px;
        width: 90px;
    }

    input {
        height: 22px;
    }

    select {
        font-size: 10px;
        margin-top: 0;
    }

    .formularioUsuarios {
        padding: 10%; /* Aumenta o preenchimento em telas pequenas */
        max-width: 90%;
    }

    button {
        height: 30px; /* Aumenta a altura do botão em telas pequenas */
    }
}